<div class="flex-general">

    <div class="flex-row">
        <img src="/assets/Evalu2ari.png" alt="img" class="img-size">
        <a href="#" class="link-decoration">
            <h3 class="text-position">Evaluari</h3>
        </a>
    </div>
    <div class="flex-row">
        <img src="/assets/IT.png" alt="img" class="img-size">
        <a href="#" class="link-decoration">
            <h3 class="text-position">IT</h3>
        </a>
    </div>
    <div class="flex-row">
        <img src="/assets/PR&Media.png" alt="img" class="img-size">
        <a href="#" class="link-decoration">
            <h3 class="text-position">PR&Media</h3>
        </a>
    </div>
    <div class="flex-row">
        <img src="/assets/proiecte.png" alt="img" class="img-size">
        <a href="#" class="link-decoration">
            <h3 class="text-position">Proiecte</h3>
        </a>
    </div>
    <div class="flex-row">
        <img src="/assets/Relatii_Externe.png" alt="img" class="img-size">
        <a href="#" class="link-decoration">
            <h3 class="text-position">Relatii Externe</h3>
        </a>
    </div>
    <div class="flex-row">
        <img src="/assets/Relatii_Interne.png" alt="img" class="img-size">
        <a href="#" class="link-decoration">
            <h3 class="text-position">Relatii Interne</h3>
        </a>
    </div>

</div>